body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


div.tox-statusbar{
  display: none!important
}
div.tox-notifications-container{
  display: none!important;
}
div.tiny-mce-editor-area{
  outline: none;
  margin: 50px;
}
div.header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
div.header-section{
  height: 80px;
  background : white;
}
div.tox-tinymce{
  border: none;
}
div.tox-toolbar__group{
  border: 0.5px solid black;
}
.tox:not([dir=rtl]) .tox-toolbar__group {
  border: 0.5px solid #e0e0e0;
  border-radius: 5px;
  margin: 2px;
}

.tox .tox-toolbar{
  background: white!important;
}

div#tinymceToolbar{
  margin: 0 auto;
    position: relative;
    width: 60%;
}

div.artboard{
  margin: 0 auto;
  width: 60%;
  background: white;
  height: 100%;
  padding-top: 1px;
  margin-top: 11px;
  border: 0.5px solid #e0e0e0;
  border-radius: 5px;
  min-height: 100vh;
}

div#app_container{
  background: #e0e0e0;
  height: 100%;
  padding-top: 100px;
}

div.tinymce-wrapper{
  border-top: 0.5px solid #e0e0e0;
  border-bottom: 0.5px solid #e0e0e0;
  height: 45px;
}

.tox-tinymce-inline .tox-editor-header {
  border: none;
}

.tox .tox-toolbar__primary {
  background: white;
}
div.element-separator{
  user-select: none;
  height: 20px;
  opacity: 0;
}

div input.addElement{
  float: right;
}
div.element-separator:hover{
  opacity: 1;
}

div.add-media__indicator{
    height: 0.5px;
    border: 1px dotted #aaaaaa;
    position: relative;
    float: left;
    width: 96%;
    margin-top: 8px;
}
div.figurecontent {
  padding: 0px;
}

div.container-image img{
  cursor: copy;
}
div.figurecontent input{
  width: 98%;
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}
div.figurecontent select{
  width: 100%;
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}
